@import "../../style/textFields";
.inventoryView {
  width: 400px;
  margin: 0 auto;

  .searchTextfield {
    font-size: 18px;
    color: #6e7071;
    padding: 10px;
    border: none;
    width: 100%;
    border-bottom: solid 2px #bfbfbf;
    transition: border 0.3s;

    &:focus {
      border-bottom: solid 2px #969696;
    }
  }

  .inventoryItem {
    border-bottom: 1px solid;
    border-bottom-color: #DED6D6;
    background-color: white;
    font-family: 'Muli', sans-serif;
    color: #808782;
    font-size: smaller;

    .productName {
      font-weight: 700;
      font-size: large;
      color: #656565;
    }
  }

  .sellButton {
    font-family: 'Nunito', sans-serif;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0px 35px 40px;
    padding-left: 35px;
    padding-right: 6px;
    font-size: 18px;
    letter-spacing: .15rem;
    background: #F2E86D url('app/images/Vegetarian-Food.png') no-repeat;
    background-size: 22px auto;
    background-position: 3px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    &:active {
      background-color: #F2EA7B;
    }
  }


  .searchButton {
    font-family: 'Nunito', sans-serif;
    border: none;
    width: 24%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: .2rem;
    font-weight: 700;
    background-color: #D3DFB8;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07), 0 1px 3px 0 rgba(0,0,0,0.1), 0 2px 1px -2px rgba(0,0,0,0.13);

    &:active {
      background-color: #d1bb3b;
    }
  }

}
