.spinner {
  .spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    color: white;
    text-align: center;
    line-height: 100vh;
    font-size: 40px;

    .circle {
      left: 50%;
      top: 50%;
      position: fixed;
      animation-name: grow;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      .smallerCircle {
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 100%;
        background-color: white;
      }
    }

    @keyframes grow {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
